@font-face {
    font-family: 'Nord';
    src: url('UI/nord.ttf') format('truetype');
}
body {
    font-family: 'Nord';
    margin: 0px;
    background-color: black;
}

span {
    font-style: italic;
}

canvas {
    margin-left:auto;
    margin-right:auto;
}


